snippet beamer_meta "the meta data for making a beamer" b
---
title:
- <++>
author:
- Xinyu
theme:
- Copenhagen
---
endsnippet

snippet tikz_meta "tikz setting for meta data in md" b

---
title: <++>
author: Xinyu
date: \today
header-includes: |
 \usepackage{tikz}
...

\begin{tikzpicture}
	<++>
\end{tikzpicture}

endsnipp

tikz_meta
